body {
  transition: background-color 3s linear;

  .sticky-map {
    position: fixed;
    top: 0;
    left: 0;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    .transform(translateY(-100%));
    z-index: 999;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
    height: 44px;
    width: 100%;
    padding: 0;
    .display-flex;
    
    @media @mobile {
      display: none;
    }
    
    .logo {
      .flex(0 0 50px);
      background: #CCC;
    }
    
    .route {
      .flex(1);
      position: relative;
      background: #EEE;
      background-image: linear-gradient(to bottom, #F8F8F8, #EEE);
      overflow: hidden;
      
      hr {
        border: none;
        border-top: 2px dashed #CCD;
        position: absolute;
        top: 20px;
        left: 2.5%;
        width: 95%;
        margin: auto;
      }
    }

    .car {
      width: 50px;
      position: absolute;
      left: -100px;
      bottom: 0;
      z-index: 999;
      transition: left .4s ease-in-out;
      .transform(translateX(-50%));
    }
  }

  &:not([data-section="intro"]) {
    .sticky-map {
      .transform(translateY(0));
    }
  }
  
  .make-position(@id, @left) { 
    &[data-section="@{id}"] {
      .car { left: @left }
    }
  }
  
  .make-position("lake-washington", 0%);
  .make-position("lake-sammamish", 5%);
  .make-position("rattlesnake-lake", 5%);
  .make-position("twedes-cafe", 10%);
  .make-position("john-wayne-trail", 13%);
  .make-position("lake-keechelus", 15%);
  .make-position("yakima-river", 25%);
  .make-position("thorp-fruit", 36%);
  .make-position("campus-burgers", 38%);
  .make-position("columbia-river", 50%);
  .make-position("gingko-forest", 52%);
  .make-position("moses-lake", 65%);
  .make-position("sprague-lake", 78%);
  .make-position("fishtrap-lake", 85%);
  .make-position("spokane-river-trail", 97%);
  .make-position("spokane-river", 98%);
  .make-position("liberty-lake", 99%);
}

.sticky-map .dot {
  border-radius: 100%;
  position: absolute;
  top: 20px;
  .transform(translateY(-50%));
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
  
  &.primary {
    background: @fish-cyan;
    height: 20px;
    width: 20px;
  }
  
  &.side-trip {
    background: @fish-orange;
    height: 10px;
    width: 10px;
    z-index: 99;
  }
  
  &.sightseeing {
    background: @fish-blue;
    height: 8px;
    width: 8px;
    z-index: 99;
  }
  
  &.lake-washington { left: 0% }
  &.lake-sammamish { left: 6% }
  &.twedes { left: 9% }
  &.rattlesnake-lake { left: 10% }
  &.john-wayne-trail { left: 13% }
  &.lake-keechelus { left: 15% }
  &.yakima-river { left: 25% }
  &.thorp-fruit { left: 35% }
  &.campus-burgers { left: 40% }
  &.columbia-river { left: 50% }
  &.gingko-forest { left: 52% }
  &.moses-lake { left: 65% }
  &.sprague-lake { left: 78% }
  &.fishtrap-lake { left: 85% }
  &.spokane-river-trail { left: 95% }
  &.spokane-river { left: 97% }
  &.liberty-lake {right: 0% }
}