<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Sigmar+One|Lobster+Two:700italic' rel='stylesheet'>
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body data-section="start">

    <header class="large-map">
      <cite class="byline">By Mark Yuasa<br>
      Seattle Times staff reporter</cite>
       
      <p class="intro">
        The five-hour drive along Interstate 90 from Seattle to Spokane is one of the state's most diverse sightseeing experiences. Not only is the scenery breathtaking along every turn in the road, but the 280-mile drive offers plenty of prime year-round fishing locations from the most densely populated urban locations to the vast forests, scablands, canyons, mountains and rolling farmlands. Here are some of the top summertime fishing activities sure to hook you into plenty of fish.
    </header>

    <header class="sticky-map">
      <img src="./assets/map.jpg">
      <img src="./assets/desoto.png" class="car">
    </header>

    <main class="road-trip">

      <section class="primary" id="lake-washington">
         
        <h2>LAKE WASHINGTON</h2>

        <aside class="sidebar">
          <figure class="fish">
            <img src="./assets/fish/cutthroat.png">
            <figcaption>Cutthroat trout</figcaption>
          </figure>
          <figure class="fish">
            <img src="./assets/fish/yellow-perch.png">
            <figcaption>Yellow perch</figcaption>
          </figure>
        </aside>

        <p class="tips">
          Nestled between Seattle and Bellevue, the lake offers plenty of fish to catch with ample public shoreline access. Great piers can be found at Seward Park; Gene Coulon Park in Renton; Luther Burbank Park on Mercer Island; Waverly Park, Marina Park and Old Ship Museum Park in Kirkland; Mount Baker; Madison Park; and Leschi. From a timing standpoint, fishing is best for cutthroat from April to October; bass from May to September; and yellow perch from April to October.

        <ul class="fact-box">
          <li> <b>Species:</b> Cutthroat trout, smallmouth bass and yellow perch.
          <li> <b>Dates:</b> Year-round.
          <li> <b>Where:</b> Trolling near the I-90 and 520 bridges are best for cutthroat; the shoreline on the east side of Mercer Island south to Renton is a bass haven; and the banks from Seward Park north to Mount Baker and Madison Park areas are perch hot spots.
        </ul>

      </section>

      <section class="side-trip" id="lake-sammamish">

        <h2>Lake Sammamish:</h2>

        Located on the north side of I-90 in Issaquah, it offers virtually the same kind of species to catch as Lake Washington. Hatchery kings and coho can also be had in late summer.

      </section>
      
      <section class="sightseeing" id="twedes-cafe">

        <h2>Twede's Café in North Bend:</h2>

        Built in 1941 and made famous by the TV show "Twin Peaks," immortalizing the cafe's cherry pie and "Damn fine cup o' coffee!" Take Exit 37 off I-90 and head north of SE North Bend Way to café on right hand side of road.

      </section>
      
      <section class="side-trip" id="rattlesnake-lake">

        <h2>Rattlesnake Lake:</h2>

        Good trout fishery with an increased daily catch limit of five trout with no size restriction through Sept. 30. Lake has selective gear rules, and will switch to catch-and-release beginning Oct. 1. Take Exit 32 off I-90 on Cedar Falls Road SE.

      </section>

      <section class="primary" id="lake-keechelus">

        <h2>LAKE KEECHELUS</h2>

        <div class="pond">
          <img src="./assets/fish/burbot.png">
        </div>

        <ul class="fact-box">
          <li> Species: Kokanee and burbot.
          <li> Dates: Year-round.
          <li> Where: Better known as "Stump Lake" for tree stumps covering the bottom of the lake's western side that become exposed during water draw-downs for irrigation in late summer. This giant natural lake covers more than 2,408 acres, and is three miles southeast of Snoqualmie Pass off I-90. Take the Hyak Exit to the boat launch and parking area.
        </ul>

        <p class="tips">
          Kokanee measure 8 to 12 inches with a 10 kokanee daily limit, plus a two-fish 12-inch minimum size trout daily limit. If kokanee fishing is slow, try jigging for burbot (freshwater cod). Note: Launching a boat is poor in late summer.

      </section>

      <section class="primary" id="yakima-river">

        <h2>YAKIMA RIVER</h2>

        <div class="pond">
          <img src="./assets/fish/rainbow-trout.png"
        </div>

        <ul class="fact-box">
          <li> Species: Rainbow trout.
          <li> Dates: Year-round.
          <li> Where: The famed ripples of this blue-ribbon trout fly-fishery are within sight of drivers zipping up and down I-90. Locals refer to this section as the "Farmland Stretch" as it twists and turns from Thorp downstream to the Yakima River Canyon south of Ellensburg.
        </ul>

        <h3>Facts/Tips: </h3>

        While the majority of anglers will float on pontoons, rafts or drift boats, there are numerous public-access points for bank anglers. Trout measuring up to 20 inches or more feed on a bounty of grasshoppers and stoneflies that reside on the surface, and fly-anglers do well using gaudy imitations of those insects. This summer due to low water flows, anglers can also cast using dry-flies.

      </section>
      
      <section class="sightseeing" id="thorp-fruit">

        <h2>Thorp Fruit &amp; Antique Mall in Thorp: </h2>

        This 60-year-old, third generation family owned establishment off Exit 101 west of Ellensburg offers fresh fruit and vegetables with a wide variety of candies, ice cream and antiques.

      </section>
      
      <section class="sightseeing" id="campus-burgers">

        <h2>Campus U-Tote-Em Burgers in Ellensburg: </h2>

        This iconic fast-food eatery — established in 1947 and located just across the street from Central Washington University — serves up a wide variety of burgers and shakes and other treats.

      </section>

      <section class="primary" id="columbia-river">

        <h2>COLUMBIA RIVER BELOW VANTAGE</h2>

        <div class="pond">
          <img src="./assets/fish/sockeye.png">
        </div>

        <ul class="fact-box">
          <li> Species: Sockeye salmon.
          <li> Dates: July.
          <li> Where: The best fishing area is below Wanapum Dam located about five miles downstream from I-90.
        </ul>

        <p class="tips">
          The preseason forecast calls for a whopping 394,000 sockeye to return to the mouth of the Columbia. Many are bound for the Okanogan River system, and will pass the I-90 crossing at Vantage. A new boat launch is located on Huntzinger Road on the west side of the Columbia south of Vantage. Fishing peaked last year around July 10, but good fishing can be had through July. Troll very slowly using a short 12- to 15-inch leader with a double-hook rig attached to a small pink plastic squid "hootchie skirt" laced with a jarred shrimp bait and a Mack's Lure Smile Blade. This is an excellent place for smallmouth bass, and they can be caught near the riprap along the interstate's north side.

      </section>
      
      <section class="sightseeing" id="gingko-forest">

        <h2>Gingko Petrified Forest State Park near Vantage: </h2>

        A fossil forest was discovered in the early 1930s during highway construction, and it is a registered national historic natural landmark preserve. It is regarded as one of the most unusual fossil forests in the world with petrified wood from a variety of trees, but petrified Ginkgo are rare.

      </section>

      <section class="primary" id="moses-lake">

        <h2>MOSES LAKE</h2>

        <div class="pond">
          <img src="./assets/fish/walleye.png">
          <img src="./assets/fish/smallmouth.png">
        </div>

        <ul class="fact-box">
          <li> Species: Walleye, yellow perch, rainbow trout and bass.
          <li> Dates: Year-round.
          <li> Where: This giant lake measuring more than 6,727 acres is located in Grant County, and a section can be seen by drivers who cross the main waterway on I-90.
        </ul>

        <p class="tips">
          It is known to produce some of the largest yellow perch in the state. State Fish and Wildlife fish surveys found a high abundance of walleye (some are known to exceed 10 pounds) and smallmouth bass up to and larger than five pounds. Depending on the time of year, the lake can generate decent rainbow trout fishing.

      </section>
      
      <section class="primary" id="sprague-lake">

        <h2>SPRAGUE LAKE</h2>

        <div class="pond">
          <img src="./assets/fish/steelhead.png">
        </div>

        <ul class="fact-box">
          <li> Species: Steelhead, rainbow trout, Lahontan cutthroat trout and largemouth bass.
          <li> Dates: Year-round.
          <li> Where: Located two miles west of the City of Sprague bordering the south side of I-90 off Exit 245. Lake lies along Adams (673 acres) and Lincoln (1,203 acres) counties.
        </ul>

        <p class="tips">
          It is not uncommon to catch rainbow trout up to 22 inches. To spice it up, 369,000 juvenile hatchery steelhead were planted in the fall of 2014, and are now averaging 15 to 16 inches with many expected to grow even larger. Largemouth bass in 2 to 5 pound range are often seen in catches. To add to the fishery, state fishery also planted channel catfish several times in recent years.

      </section>
      
      <section class="side-trip" id="fishtrap-lake">

        <h2>Fishtrap Lake:</h2>

        Definitely an "I-90 Gem" at the Fishtrap Exit east of Sprague, it is managed as a rainbow trout fishery. It has a small resort and campground with boat rentals and boat ramp. You can also hike or walk in, and fish from the bank.

      </section>
      
      <section class="sightseeing" id="john-wayne-trail">

        <h2>John Wayne Pioneer Trail:</h2>

        Located in Iron Horse State Park it offers stupendous natural scenery with camping, hiking, mountain biking, and a 2.3-mile rail tunnel under Snoqualmie Pass (usually open from late spring to fall). Take Exit 32 off I-90.

      </section>
      
      <section class="sightseeing" id="spokane-river-trail">

        <h2>Spokane River Centennial Trail:</h2>

        This I-90 trip across the state ends at the scenic 37-mile paved recreational trail used by walkers, runners and bicycle riders along the Spokane River to Nine Mile Falls, and continuing to the Washington/Idaho state line. The trail also extends another 24 miles into Idaho.

      </section>
      
      <section class="side-trip" id="spokane-river">

        <h2>Spokane River:</h2>

        Have a chance to catch redband rainbow trout, and is mainly catch-and-release fly-fishing along I-90 near Liberty Lake. You can also catch smallmouth bass, but follow the single barbless hook rule.

      </section>
      
      <section class="primary" id="liberty-lake">

        <h2>LIBERTY LAKE</h2>

        <div class="pond">
          <img src="./assets/fish/bluegill.png">
        </div>

        <ul class="fact-box">
          <li> Species: Rainbow and brown trout.
          <li> Dates: Open now through Oct. 31.
          <li> Where: Located in Spokane County just east of Spokane Valley and west of the Idaho-Washington state border. Take Exit 296 to reach this 706.1 acre lake
        </ul>

        <h3>Facts/Tips: </h3>

        Rainbow trout up to 20 inches and brown trout hit the eight-pound mark. It is one of the few east-side lakes that has walleye up to 10 pounds, although not overly numerous. It is a popular largemouth (up to 6 pounds) and smallmouth (up to 3 pounds) bass fishery. Mix in bluegill sunfish, yellow perch and black crappie, and you've got a diverse bunch of fish to catch. There is a nice campground on the southeast corner operated by Spokane County Parks, but no boat launch. To access the lake by boat, there is a state Fish and Wildlife launch on the north end of the lake.

      </section>

    </main>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
